<p>order-create works!</p>
<div class="container">
    <div class="row">
        <h6 class="text-center">Create Order</h6>
    </div>
    <a href="#" routerLink="/order/list" class="btn btn-primary float-end">Back</a>
    <form class="mt-5">
        <div class="row d-flex mb-3 justify-content-around">
            <div class="form-group col-4 d-flex">
                <label class="m-2" for="product">Product:</label>
                <input type="text" id="product" formControlName="product" class="form-control">
                <!-- <div class="alert alert-danger">
                    <div>Post is required</div>
                </div> -->
            </div>
            <div class="form-group col-4 d-flex">
                <label class="m-2" for="supplier">Supplier:</label>
                <input type="text" id="supplier" formControlName="supplier" class="form-control">
                <!-- <div class="alert alert-danger">
                    <div>Post is required</div>
                </div> -->
            </div>
        </div>
        <div class="row d-flex mb-3 justify-content-around">
            <div class="form-group col-4 d-flex">
                <label class="m-2" for="price">Price:</label>
                <input type="text" id="price" formControlName="price" class="form-control">
                <!-- <div class="alert alert-danger">
                    <div>Post is required</div>
                </div> -->
            </div>
            <div class="form-group col-4 d-flex">
                <label class="m-2" for="orderdate">OrderDate:</label>
                <input type="text" id="orderdate" formControlName="orderdate" class="form-control">
                <!-- <div class="alert alert-danger">
                    <div>Post is required</div>
                </div> -->
            </div>
        </div>
        <button class="btn btn-primary mr-5" type="submit">Submit</button>
    </form>
</div>