<p>order-list works!</p>
<div class="container mt-5">
    <div class="row">
        <strong>Order List</strong>
    </div>
    <a [routerLink]="['/order/', 'create']"  class="btn btn-primary m-2 float-end">Add</a>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>ContactNumber</th>
                    <th width="250px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Supplier.id</td>
                    <td>Supplier.FirstName</td>
                    <td>Supplier.LastName</td>
                    <td>Supplier.Address</td>
                    <td>Supplier.City</td>
                    <td>Supplier.ContactNumber</td>
                    <td>
                    <a [routerLink]="['/order/', 'detail']"  class="btn btn-info text-white m-2">View</a>
                    <a [routerLink]="['/order/', 'edit']"  class="btn btn-primary m-2">Edit</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>