<p>category-list works!</p>
<div class="container mt-5">
    <div class="row">
        <strong>Category List</strong>
    </div>
    <a [routerLink]="['/category/', 'create']"  class="btn btn-primary float-end">Add</a>
    <div class="card m-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th width="250px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of category">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <a [routerLink]="['/category/',item.id, 'detail']"  class="btn btn-info text-white m-2">View</a>
                        <a [routerLink]="['/category/',item.id, 'edit']"  class="btn btn-primary m-2">Edit</a>
                        <button type="button" (click)="deletePost(item.id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>