<p>order-details works!</p>
<div class="container">
    <div class="row ">
        <h2 class="mt-4 ms-2">Order Details</h2>
    </div>
    <a [routerLink]="['/order/', 'list']"  class="btn btn-primary float-end">Back</a>
    <strong>Order</strong>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>DeliveryDate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.productName}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.deliveryDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>