<p>order-details works!</p>
<div class="container">
    <div class="row ">
        <strong>Order Details</strong>
    </div>
    <a [routerLink]="['/order/', 'list']"  class="btn btn-primary float-end">Back</a>
    <strong>Order</strong>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Price</th>
                    <th>OrderDate</th>
                    <th>DeliveryDate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Order.id</td>
                    <td>Order.category</td>
                    <td>Order.price</td>
                    <td>Order.orderdate</td>
                    <td>Order.deliverydate</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>