<p>product-details works!</p>
<div class="container">
    <mat-card>
        <div class="row">
            <h2 class="mt-4 ms-2">Product Detail</h2>
        </div>
        <mat-card-header class="main">
            <button mat-flat-button color="primary" class="m-2 main" [routerLink]="['/product/', 'list']"  >Back</button>
        </mat-card-header>
        <table mat-table [dataSource]="[product]" class="">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> <strong>Id</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> <strong>Name</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> <strong>Price</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            <ng-container matColumnDef="inStock">
              <th mat-header-cell *matHeaderCellDef> <strong>InStock</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.inStock}} </td>
            </ng-container>
            <ng-container matColumnDef="categoryName">
              <th mat-header-cell *matHeaderCellDef> <strong>Category</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
            </ng-container>
            <ng-container matColumnDef="supplierName">
              <th mat-header-cell *matHeaderCellDef> <strong>Supplier</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['id', 'name','price','inStock','categoryName','supplierName']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'name','price','inStock','categoryName','supplierName'];"></tr>

          </table>
    </mat-card>
</div>