<p>product-details works!</p>
<div class="container">
    <div class="row ">
        <strong>Product Details</strong>
    </div>
    <a [routerLink]="['/product/', 'list']"  class="btn btn-primary float-end">Back</a>
    <strong>{{product.name}}</strong>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Supplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.inStock}}</td>
                    <td>{{product.categoryName}}</td>
                    <td>{{product.supplierName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>