<p>product-details works!</p>
<p>view works!</p>
<div class="container">
    <h1 class="text-center">View Product</h1>
    <a href="#" routerLink="/product/list" class="btn btn-info">Back</a>
    <div>
        <strong>Id: Product.id</strong>
    </div>
    <div>
        <p>Name: Product.name</p>
    </div>
    <div>
        <p>Price: Product.price</p>
    </div>
    <div>
        <p>Quantity: Product.quantity</p>
    </div>
    <div>
        <p>Category: Product.category</p>
    </div>
    <div>
        <p>Supplier: Product.supplier</p>
    </div>
</div>