<p>category-details works!</p>
<div class="container">
    <div class="row ">
        <strong>Category Details</strong>
    </div>
    <a [routerLink]="['/category/', 'list']"  class="btn btn-primary float-end">Back</a>
    <strong>Category</strong>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Category.id</td>
                    <td>Category.name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>