<p>product-create works!</p>
<div class="container">
    <div class="row">
        <strong>Create new product</strong>
    </div>
    <a href="#" routerLink="/product/list" class="btn btn-primary float-end">Back</a>
    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5">
        <div class="row d-flex mb-3">
            <div class="form-group col-6 d-flex">
                <label class="m-2" for="name">Name:</label>
                <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <div class="form-group col-6 d-flex">
                <label class="m-2" for="price">Price:</label>
                <input type="text" id="price" formControlName="price" class="form-control">
            </div>
        </div>
        <div class="row d-flex mb-3">
            <div class="form-group col-6 d-flex">
                <label class="m-2" for="quantity">Quantity:</label>
                <input type="text" id="quantity" formControlName="inStock" class="form-control">
            </div>
            <div class="form-group col-6 d-flex">
                <!-- <label class="m-2"for="category">Category:</label>
                <select class="form-select shadow-none" data-allow-clear="true" tabindex="-1" >
                    <option value="">Stationary</option>
                    <option value="">Electronics</option>
                </select> -->
                <div class="form-group col-6 d-flex">
                    <label class="m-2" for="category">Category:</label>
                    <input type="text" id="category" formControlName="categoryId" class="form-control">
                </div>
            </div>
        </div>
        <div class="row d-flex mb-3">
            <div class="form-group ms-2 col-5 d-flex">
                <!-- <label class="m-2"for="supplier">Supplier:</label>
                <select class="form-select shadow-none" data-allow-clear="true" tabindex="-1" >
                    <option value="">Stationary</option>
                    <option value="">Electronics</option>
                </select> -->
                <div class="form-group col-6 d-flex">
                    <label class="m-2" for="supplier">Supplier:</label>
                    <input type="text" id="supplier" formControlName="supplierId" class="form-control">
                </div>
            </div>
        </div>
        <button class="btn btn-primary m-2" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>