<p>header works!</p>
<div class="container">
    <div class="row">
        <h4 class="text-center">Angular</h4>
    </div>
    <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/product/list">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/category/list">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/supplier/list">Supplier</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/order/list">Order</a>
              </li>
            </ul>
        </div>
      </nav>
</div>