<div class="container mt-5">
    <div class="row">
        <strong>Product List</strong>
    </div>
    <a [routerLink]="['/product/', 'create']"  class="btn btn-primary m-2 align-self-right">Add</a>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th width="250px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Product.id</td>
                    <td>Product.name</td>
                    <td>Product.price</td>
                    <td>Product.quantity</td>
                    <td>Product.category</td>
                    <td>Product.supplier</td>
                    <td>
                    <a [routerLink]="['/product/','detail']"  class="btn btn-info text-white m-2">View</a>
                    <a [routerLink]="['/product/','edit']"  class="btn btn-primary m-2">Edit</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngFor="let product of products">
            {{product.products}}
        </p>
    </div>
</div>