<p>supplier-details works!</p>
<div class="container">
    <div class="row ">
        <strong>Supplier Details</strong>
    </div>
    <a [routerLink]="['/supplier/', 'list']"  class="btn btn-primary float-end">Back</a>
    <strong>Supplier</strong>
    <div class="card mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>ContactNo.</th>
                    <th>Address</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{supplier.firstName}}</td>
                    <td>{{supplier.lastName}}</td>
                    <td>{{supplier.contactNumber}}</td>
                    <td>{{supplier.address}}</td>
                    <td>{{supplier.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>