<p>category-edit works!</p>
<div class="container">
    <div class="row">
        <h6 class="text-center">Edit category</h6>
    </div>
    <a href="#" routerLink="/category/list" class="btn btn-primary float-end">Back</a>
    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5">
        <div class="row d-flex mb-3">
            <div class="form-group col-4 d-flex">
                <label class="m-2" for="name">Name:</label>
                <input type="text" id="name" formControlName="name" class="form-control" [ngModel]="category.name">
            </div>
        </div>
        <button class="btn btn-primary mr-5" type="submit">Submit</button>
    </form>
</div>